.profileFrom {
  background-color: #fff;
  box-shadow: 0 2px 1px rgb(0 0 0 / 5%);
  border: 1px solid #e0e0e0 !important;
  padding: 1.5rem;
  .red {
    color: #f44336 !important;
    padding-right: 5px;
  }
  .form-control {
    border-radius: 0.21rem;
  }
  .saveButton,
  .saveButton:hover {
    border-color: #967adc !important;
    background-color: #967adc !important;
    color: #ffffff;
    min-width: 8.5rem;
    border-radius: 0.21rem;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    line-height: 1.25;
  }
  .card-footer {
    border-radius: 0 0 calc(0.27rem - 1px) calc(0.27rem - 1px);
    border-top: 1px solid #eeeeee;
    padding: 1.5rem 1.5rem;
    background-color: #fff;
    margin-top: 40px;
  }
}
