.placesContainer {
  padding: 2.2rem;
  .buttonContriner {
    text-align: end;
  }
  .addButton,
  .addButton:hover,
  .addButton:active {
    border-color: #3bafda !important;
    background-color: #3bafda !important;
    color: #ffffff !important;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.21rem;
    font-weight: 400;
  }
  .ant-table-wrapper{
    margin-top: 20px;
  }
}
