.breadcrumb-new{
    margin-bottom: 10px;
    .linkabule{
        color: #3BAFDA;
        cursor: pointer;
    }
    .breadcrumb-item{
        line-height: 1.8;
        font-size: 1rem;
        font-family: "Muli", Georgia, "Times New Roman", Times, serif;
    }
    .content-header-title {
        font-weight: 500;
        letter-spacing: 1px;
        color: #373a3c;
        padding: 6px 24px 8px 0;
        margin: 0 24px 0 0;
        border-right: 1px solid #E6E6E6;
        font-size: 1.51rem;
    }
}