.headerConatiner {
  background-color: #fff;
  padding: 20px 0px;
  font-family: "Muli", Georgia, "Times New Roman", Times, serif;
  height: 4.57rem;
  .navbar-toggler {
    color: #55595c;
    border: 0px !important;
    margin-left: 5px;
    display: block !important;
    font-size: 1.05rem;
  }

  .navbar-toggler:focus {
    border: 0px !important;
    box-shadow: none !important;
  }

  .dropdown-menu {
    right: 0;
    left: auto !important;
  }

  .dropdown-toggle::after {
    font-size: 0.8rem;
    font-family: "FontAwesome";
    content: "\f107" !important;
    border: none !important;
    position: relative;
    top: 0px;
    right: 0px;
    padding: 0 2px 0 6px;
    margin: 0 0.3em 0 0;
    vertical-align: 0;
  }

  .nav-link,
  .dropdown-item {
    color: #55595c !important;
    font-size: 1.05rem;
    opacity: 0.8;
  }
  .navbar-collapse {
    height: 40px;
  }

  .avatar {
    width: 30px;
    img {
      width: 30px;
      max-width: 30px;
      height: auto;
      border: 0 none;
      border-radius: 1000px;
      margin: 0px 8px;
    }
    i {
      align-self: center;
      background-color: #37bc9b;
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      margin-top: 16px;
      margin-left: -18px;
    }
  }
}
