#header {
  .pro-sidebar {
    height: 100vh;
  }
  .pro-sidebar {
    width: 100%;
    min-width: 100%;
    max-width: 240px;
    transition: none;
    .pro-menu {
      .pro-menu-item > .pro-inner-item {
        color: #dcdcdc;
        padding: 8px 35px 8px 10px;
        font-size: 1.1rem;
        font-family: "Muli", Georgia, "Times New Roman", Times, serif;
        font-weight: 400;
      }
    }
  }
  .pro-sidebar.collapsed {
    width: 60px;
    min-width: 60px;
  }
  .pro-sidebar-inner {
    background-color: #1d2b36;
    box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
    .pro-sidebar-layout {
      overflow-y: hidden;
    }
  }
  .pro-sidebar-header {
    border: 0px !important;
  }
  .logotext p {
    font-size: 1.51rem;
    padding: 0 20px;
    padding-top: 20px;
    color: #fff;
    text-align: center;
    font-family: "Merriweather", serif;
  }
  .logotext img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    max-width: 240px;
  }
  .pro-icon {
    font-size: 1.2rem;
  }
  .pro-icon-wrapper {
    color: #fff;
    background-color: transparent !important;
  }
  .pro-menu-item:hover {
    background: #0b1115;
  }
  .logo {
    padding: 20px;
  }
}

@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}
