.loginContent {
  .loginFormContent {
    margin: auto;
    justify-content: center;
    box-shadow: 0 10px 18px 0 rgb(var(--color-rbg-rhino) / 20%);
    border: 1px solid var(--color-softPeach) !important;
    background-color: var(--color-white);
    border-radius: 0.27rem;
  }
  .headerLoginContent {
    border-radius: calc(0.27rem - 1px) calc(0.27rem - 1px) 0 0;
    .p-1 {
      padding: 1rem;
    }
    img {
      height: auto;
      width: 100%;
    }
  }
  .line-on-side {
    border-bottom: 1px solid var(--color-lightGrey);
    line-height: 0.1em;
    margin: 10px 0 20px;
    span {
      background: var(--color-white);
      padding: 0 10px;
      font-size: 0.9rem !important;
      color: var(--color-smokeyGrey);
      line-height: 0.1em;
    }
  }
  .loginFromContent {
    flex: 1 1 auto;
    padding: 1.5rem;
    .input-group-text {
      background-color: transparent !important;
      min-width: 43px;
    }
    .form-control:focus {
      box-shadow: none !important;
    }
    .fa-user {
      margin-left: 3px;
    }
  }
  .loginButton {
    cursor: pointer;
    border-color: #3bafda !important;
    background-color: #3bafda !important;
    margin-bottom: 20px;
    color: var(--color-white);
    width: 100%;
    border-radius: 0.27rem;
    font-size: 1.1rem;
    i {
      padding-right: 5px;
    }
  }
  .loginButton:hover ,:not(.btn-check)+.btn:active {
    border-color: #228eb6 !important;
    background-color: #27a2cf !important;
    color: var(--color-white) !important;
  }
  .forgotPasswordLink {
    color: #3bafda;
    cursor: pointer;
    padding-bottom: 15px;
    text-align: right;
  }
  .captcha_img{
    .input-group-text{
        padding: 0px !important;

    }
  }
}
