.resetContent {
  .loginFormContent {
    margin: auto;
    justify-content: center;
    box-shadow: 0 10px 18px 0 rgb(var(--color-rbg-rhino) / 20%);
    border: 1px solid var(--color-softPeach) !important;
    background-color: var(--color-white);
    border-radius: 0.27rem;
    padding: 10px;
  }
  .card-subtitle {
    color: #6f7274;
    margin-bottom: 0;
    font-size: 0.9rem;
    max-width: 600px;
    font-family: "Muli", Georgia, "Times New Roman", Times, serif;
  }
  .resetPasswordmode {
    font-family: "Muli", Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    line-height: 1.2;
    color: #373a3c;
    margin: 20px 0px;
  }
  .card-title {
    font-weight: 500;
    letter-spacing: 0.05rem;
    font-size: 1.74rem;
    font-family: "Muli", Georgia, "Times New Roman", Times, serif;
    padding: 1rem;
    margin-top: 20px;
  }
  .loginFromContent {
    flex: 1 1 auto;
    .input-group-text {
      background-color: transparent !important;
      min-width: 43px;
    }
    .form-control:focus {
      box-shadow: none !important;
    }
    .fa-user {
      margin-left: 3px;
    }
  }
  .loginButton {
    cursor: pointer;
    border-color: #3bafda !important;
    background-color: #3bafda !important;
    margin-bottom: 20px;
    color: var(--color-white);
    width: 100%;
    border-radius: 0.27rem;
    font-size: 1.1rem;
    i {
      padding-right: 5px;
    }
  }
  .loginButton:hover,
  :not(.btn-check) + .btn:active {
    border-color: #228eb6 !important;
    background-color: #27a2cf !important;
    color: var(--color-white) !important;
  }
  .forgotPasswordLink {
    color: #3bafda;
    cursor: pointer;
    padding-bottom: 15px;
    text-align: right;
  }
  .captcha_img {
    .input-group-text {
      padding: 0px !important;
    }
  }
  .emailThrough {
    .form-check-label {
      color: #414141;
      margin-bottom: 1rem;
    }
  }
}
