:root {
  --body-color: #55595c;
  --body-bg: #F3F3F3;
  --color-white: #fff;
  --color-softPeach:#EEEEEE;
  --color-smokeyGrey:#6F7274;
  --color-lightGrey:#DADADA;

  --color-rbg-rhino: 62 57 107;

}
