@import "./colorCode.scss";

body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif !important;
  font-size: 1rem  !important;
  font-weight: 400  !important;
  line-height: 1.45  !important;
  color: var(--body-color) !important ;
  text-align: left  !important;
  background-color: var(--body-bg) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: "Muli", Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 1.2;
  color: #373a3c;
}

.ant-table-thead{
  .ant-table-cell{
    background-color: #37BC9B !important;
    color: #FFFFFF !important;
  }
}
.ant-table-column-sorter{
  color: #FFFFFF !important;
}
.ant-table-cell{
  border-radius: 0px !important;
}
.ant-table-pagination.ant-pagination{
  margin: 0px !important;
  background-color: #FFFFFF;
  padding: 20px 0px;
  row-gap:0px !important;
}
.ant-pagination .ant-pagination-item{
  border-radius: 0px !important;
  background-color: #3BAFDA !important;
  border-color: #3BAFDA !important;
  color: #fff;
}
.editIcon{
  cursor: pointer;
  color: #3BAFDA;
}
.deleteIcon{
  cursor: pointer;
  color: #F44336 !important;
  opacity: 0.8;
}